<header class="header fold" id="header">
	<div class="header-content">
		<a href="javascript: void(0);" id="avatar">
			<img src="http://ww1.sinaimg.cn/mw690/82d84e71jw8ewsycluluxj20u00u0763.jpg">
		</a>
		<ul class="menu" id="menu">
			<li class="active"><a href="/"><i class="icon icon-home"></i><span>首页</span></a></li>
			<li><a href="/"><i class="icon icon-coding"></i><span>代码</span></a></li>
			<li><a href="/"><i class="icon icon-daily"></i><span>日常</span></a></li>
			<li><a href="/"><i class="icon icon-demo"></i><span>实验室</span></a></li>
			<li><a href="/"><i class="icon icon-about"></i><span>关于</span></a></li>
		</ul>
	</div>
</header>
<script>
	var header = document.getElementById('header');
	var avatar = document.getElementById('avatar');
	avatar.addEventListener('click', function(e) {
		toggleClass(header, 'fold');
	});



</script>