// 首页 index
html {
    font-size: 24px;
}
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    /* background: rgb(24, 31, 36); */
    background: url(../images/LuciolaCruciata_1920x1080.jpg) bottom center no-repeat;
    background-size: cover;
    overflow: hidden;
}
.canvas {
    position: absolute;
    top: 0;
}
.content {
    position: absolute;
    width: 100%;
    top: 45%;
    transform: translateY(-50%);
    color: #fff;
    
    text-align: center;
    h1, p {
        font-family: 'Libian SC', $base-font-family;
        text-shadow: 0 0 2px rgba(0, 0, 0, .64); 
    }
    h1{
        font-weight: normal;

        span {
            font-size: 60%;
        }
    }
    p {
        font-size: .75rem;
    }
    .btn-enter {
        display: block;
        margin: 24px auto;
        width: 160px;
        line-height: 2;
        font-size: 12px;
        padding: 4px 12px;
        border-radius: 18px;
        background: rgba(0, 0, 0, 0.5);
        letter-spacing: 2px;
        border: 1px solid;
        color: #fff;

        &:hover {
            color: $brand-color;
        }
    }
}

.footer {
    position: absolute;
    right: .6rem;
    bottom: .6rem;
    color: #fff;
    opacity: .8;
    font-size: .5rem;
    text-align: right;
    a {
        font-weight: bold;
    }
}

@media screen and (max-width: 750px) {
    html {
        font-size: 20px;
    }
    .footer {
        right: .5rem;
        bottom: .6rem;
    }
}