body {
    position: absolute;
    width: 100%;
    min-height: 100%;
}
.container {
    padding-top: 45px;
    padding-bottom: 60px;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    background: #fff;
    background: rgba(255, 255, 255, .84);
    font-size: 14px;
    transition: width .5s linear;
    border-bottom: 1px solid #efefef;
    z-index: 100;
    .avatar{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: - 23px;
    }
    .avatar-img {
        width: 45px;
        height: 45spx;
    }
}


.header-content {
    margin: 0 30px;
    a {
        color: #7685b6;
    }
}

@media screen and (min-width: 1280px) {
    .main {
        width: 1120px;
    } 
    .main.article {
        width: 960px;
    }
}

.menu {
    float: left;
    li {
        float: left;
        overflow: hidden;
        line-height: 45px;
        font-size: 13px;
        margin-right: 12px;
        list-style: none;

        a {
            position: relative;
            display: block;
            padding: 0 12px 0 6px;

            &:before{
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                bottom: 0;
                height: 0;
                width: 100%;
                background: rgba(255, 255, 255, 0);
                transition: linear .25s;
                opacity: 0;

                transform: translate(-50%) scaleX(0);
                -webkit-transform: translate(-50%) scaleX(0);
                -moz-transform: translate(-50%) scaleX(0);
                -o-transform: translate(-50%) scaleX(0);
                -ms-transform: translate(-50%) scaleX(0);
            }
        }
        &.active, &:hover {
            a:before {
                height: 2px;
                opacity: 1;

                transform: translate(-50%) scaleX(1);
                -webkit-transform: translate(-50%) scaleX(1);
                -moz-transform: translate(-50%) scaleX(1);
                -o-transform: translate(-50%) scaleX(1);
                -ms-transform: translate(-50%) scaleX(1);
            }
            .nav-home:before  {
                background: #443fb5;
            }
            .nav-code:before  {
                background: #1195db;
            }
            .nav-daily:before  {
                background: #FF9800;
            }
            .nav-demo:before  {
                background: #009688;
            }
            .nav-me:before  {
                background: #ff4d4d;
            }
        
        }
    }
    .nav-home {
        color: #443fb5;
    }
    .nav-code {
        color: #1195db;
    }
    .nav-daily {
        color: #FF9800;
    }
    .nav-demo {
        color: #009688;
    }
    .nav-me {
        color: #ff4d4d;
    }


    .iconfont {
        float: left;
        margin: 11px 2px 0 0;
        font-size: 23px;
        line-height: 1;
    }
}


.search-form {
    float: right;
    margin-top: 6px;
    width: 240px;
    height: 33px;
    .search-input {
        background-color: #f5f8fa;
        border-radius: 21px;
        border: 1px solid #e6ecf0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        font-size: 12px;
        height: 32px;
        line-height: 16px;
        padding: 8px 32px 8px 12px;
        transition: all .25s ease-in-out;
        width: 100%;

        &:focus {
            background: #fff;
            border-color: #ff4d4d;
        }
    }
}

.side {
    position: fixed;
    width: 300px;
    height: 100%;
    left: 50px;
    top: 0;
    background: center #212943;
    background-size: cover;
}

.menu-categories {
    margin-top: 20px;
    border-radius: 3px;
    overflow: hidden;
    .tab-empty {
        margin-left: 240px;
        margin-right: 0;
        height: 38px;
        background: #fff;
    }
    .tab {
        display: block;
        float: left;
        width: 60px;
        text-align: center;
        font-size: 12px;

        span {
            display: block;
            background: #fff;

            &.n {
                padding-top: 10px;
                padding-bottom: 4px;
            }
            &.l, &.r {
                position: relative;
                width: 30px;
                height: 6px;
                
                &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border: 6px solid transparent;
                    border-top: 6px solid #fff;
                }
            }
            &.l {
                float: left;

                &:after {
                    right: -6px;
                }
            }
            &.r {
                float: right;
                &:after {
                    left: -6px;
                }
            }
        }

        &.on {
            color: #ff4d4d;
            span {
                &.l, &.r {
                    width: 24px;
                }
            }
        }
    }
}

.main {
    margin: 0 auto;
}

.post {
    list-style: none;
    position: relative;
    padding: 20px;
    background: #fff;
    margin: 10px 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
    &:hover {
        .post-title {
            a {
                color: #3f51b5;
            }
        }
    }
}

.article {
    .post-title {
        font-size: 24px;
    }
}

.post-title {
    margin: 0;
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
    a {
        color: $text-color;
    }
}

.post-icon {
    margin-left: 12px;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 10px;

    &.post-icon-translate {
        background-color: #e5f6f6;
        color: #30a0de;
    }
    &.post-icon-repost {
        background: #ffe6e6;
        color: #ff4d4d;
    }
}

.post-content {
    margin-top: 10px;
    line-height: 1.65;
    color: #555;
    font-size: 13px;
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        padding-top: 12px;
        font-size: 1rem;
        line-height: 1.4;
    }
    h4 {
        padding: 6px 0 0;
        font-weight: 300;
        color: #333;
    }
    p {
        margin-bottom: 6px;
        font-size: .6rem;
    }
    ul,
    ol {
        margin-left: 2rem;
        padding-left: 0;
        li {
            margin: .3rem 0;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        th {
            background: #e3ebec;
        }
        th,
        td {
            border: 1px solid #E6E6E6;
            padding: 5px 8px;
            word-break: normal;
        }
    }
}

.post-meta {
    font-size: 12px;
    color: #999;
}

.post-tag {
    margin-left: 12px;
    color: #009688;
}

.side-content {
    margin: 60px 15px 0;
    color: #fff;
}

.side-menu {
    color: #fff;
    a {
        color: #fff;
    }
    &>li {
        font-size: 14px;
        ul li {
            font-size: 13px;
            list-style: none;
        }
    }
}

.main.article {
    margin-right: 250px;
}
.article #markdown-toc {
    position: fixed;
    width: 210px;
    right: 15px;
    height: 100%;
    &>li {
        list-style: none;
    }
    a {
        color: #7685b6;
        &:hover {
            color: #009688;
        }
    }
}

.content {
    margin: 0 320px 0 0;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 1.8;
    padding: 10px 0;
    color: #333;
    font-weight: 300;
    p{
        font-size: 10px;
    }
}
@media screen and (max-width: 1024px) {
    #markdown-toc{
        display: none;
    }
}

.article-header {
    padding: 20px;
}