html {
    font-size: 10px;
}
body {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}
.container {
    position: relative;
    left: 0;
    padding-top: 45px;
    padding-bottom: 60px;
    background: #fff;
    .main {
        background: #fff;
    }
}
.header {
    position: fixed;
    top: 0;
    left: -240px;
    width: 240px;
    height: 100%;
    background: #e63636;
    font-size: 14px;
    z-index: 100;
}
.avatar{
    position: fixed;
    border-radius: 50%;
    overflow: hidden;
    z-index: 200;
    .avatar-img {
        width: 100%;
        height: 100%;
    }
}


.header-content {
    margin: 0 30px;
}

.menu-item {
    position: relative;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 20px;
    font-size: 13px;
    color: #fff;
    &:before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 2px;
        background: rgba(255, 255, 255, 0);
        opacity: 0;
    }


    .iconfont {
        position: relative;
        float: left;
        font-size: 20px;
        line-height: 1;
        margin-right: 10px;
        margin-top: 1px;
    }

    &>div {
        position: relative;
        margin: 0 auto;
        padding: 10px 0 10px 25px;
    }
}

.search-form {
    float: right;
    margin-top: 6px;
    width: 240px;
    height: 33px;
    .search-input {
        background-color: #f5f8fa;
        border-radius: 21px;
        border: 1px solid #eef;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        font-size: 12px;
        height: 32px;
        line-height: 16px;
        padding: 8px 32px 8px 12px;
        transition: all .25s ease-in-out;
        width: 100%;

        &:focus {
            background: #fff;
            border-color: $brand-color;
        }
    }
}

.menu-categories {
    display: none;
    .main{
        overflow: hidden;
    }
    .tab-empty {
        margin-left: 240px;
        margin-right: 0;
        height: 38px;
        background: #fff;
    }
    .tab {
        display: block;
        float: left;
        width: 60px;
        text-align: center;
        font-size: 12px;
        color: $text-color;
        span {
            display: block;
            background: #fff;

            &.n {
                padding-top: 10px;
                padding-bottom: 4px;
            }
            &.l, &.r {
                position: relative;
                width: 30px;
                height: 6px;
                
                &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border: 6px solid transparent;
                    border-top: 6px solid #fff;
                }
            }
            &.l {
                float: left;

                &:after {
                    right: -6px;
                }
            }
            &.r {
                float: right;
                &:after {
                    left: -6px;
                }
            }
        }

        &.on {
            color: $brand-color;
            span {
                &.l, &.r {
                    width: 24px;
                }
            }
        }
    }
}


.banner {
    position: relative;
    height: 180px;
    margin-top: -45px;
    background-color: #ca341f;
}
.banner-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto 180px;
}


.main {
    margin: 0 auto;
}
.post-list {
    .post:first-child {
        border-top: none;
    }
}
.post {
    list-style: none;
    position: relative;
    padding: 10px;
    background: #fff;
    margin: 10px 0;
    border-top: 1px solid #f5f8fa;
    &:hover {
        .post-title {
            a {
                color: $brand-inverse-color;
            }
        }
    }
}

.article {
    background: #fff;
    .post-title {
        font-size: 24px;
    }
    #markdown-toc {
        display: none;
        position: fixed;
        width: 210px;
        right: 15px;
        height: 100%;
        &>li {
            list-style: none;
        }
        a {
            color: #7685b6;
            &:hover {
                color: $brand-inverse-color;
            }
        }
    }
}

.post-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 10px;
    a {
        // color: $brand-color;
        color: #333;
    }
}

.post-icon {
    margin-left: 12px;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 10px;

    &.post-icon-translate {
        background-color: #e5f6f6;
        color: $code-color;
    }
    &.post-icon-repost {
        background: #ffe6e6;
        color: $brand-color;
    }
}

.post-content {
    margin-top: 6px;
    line-height: 1.7;
    font-size: 13px;
    color: #777;
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        padding-top: 12px;
        font-size: 1rem;
        line-height: 1.4;
        font-family: Tahoma, 'STKaiti', 'KaiTi', $base-font-family;
        color: $brand-color;
    }
    h4 {
        padding: 6px 0 0;
        font-size: .7rem;
        font-weight: 300;
    }
    p {
        margin: 2px 0;
        font-size: .6rem;
    }
    ul,
    ol {
        margin-left: 2rem;
        padding-left: 0;
        li {
            margin: .3rem 0;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        th {
            background: #f5f7fa;
        }
        th,
        td {
            border: 1px solid #eef;
            padding: 5px 8px;
            word-break: normal;
        }
    }
}

.post-meta {
    font-size: 10px;
    color: #999;
}

.post-tag {
    margin-left: 12px;
    color: $brand-inverse-color;
}

.content {
    padding:0 15px 15px;
}
.article-header {
    padding: 20px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 1.8;
    padding: 10px 0;
    font-weight: 300;
    p{
        font-size: 10px;
    }
}

@media screen and (max-width: 750px) {
    body {
        &.menu-show {
            overflow-y: hidden;
            .avatar {
                display: block;
                width: 64px;
                height: 64px;
            }
            .header {
                left: 0;
            }
            .container {
                left: 240px;
            }
        }
    }
    .header {
        -webkit-transition: left 0.3s linear;
        transition: left 0.3s linear;
    }
    .container {
        -webkit-transition: left 0.3s linear;
        transition: left 0.3s linear;
    }
    .header-content {
        margin: 0;
    }
    .avatar {
        display: none;
        top: 6px;
        left: 6px;
        width: 36px;
        height: 36px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, .36);
        transition: all .25s linear;
    }

    .search-form{
        display: none;
    }
    .menu {
        float: none;
        margin-top: 50px;
        li{
            box-sizing: border-box;
            width: 25%;
            margin-right: 0;
            padding: 0;
        }
    }
}
@media screen and (min-width: 751px) {
    html {
        font-size: 12px;
    }
    .menu {
        float: left;
        .nav-home {
            color: #443fb5;
        }
        .nav-code {
            color: $code-color;
        }
        .nav-daily {
            color: #FF9800;
        }
        .nav-demo {
            color: $brand-inverse-color;
        }
        .nav-me {
            color: $brand-color;
        }
    }
    .menu-item {
        float: left;
        width: 64px;
        line-height: 45px;
        margin-right: 12px;
        & > div {
            width: 28px;
            padding:0 0 0 25px;
        }
        &:before{
            position: absolute;
            left: 50%;
            height: 0;
            width: 64%;
            transition: linear .25s;
            opacity: 0;
            -ms-transform: translate(-50%) scaleX(0);
            -o-transform: translate(-50%) scaleX(0);
            -moz-transform: translate(-50%) scaleX(0);
            -webkit-transform: translate(-50%) scaleX(0);
            transform: translate(-50%) scaleX(0);
        }
        &.active, &:hover {
            &:before {
                height: 2px;
                opacity: 1;

                -o-transform: translate(-50%) scaleX(1);
                -ms-transform: translate(-50%) scaleX(1);
                -moz-transform: translate(-50%) scaleX(1);
                -webkit-transform: translate(-50%) scaleX(1);
                transform: translate(-50%) scaleX(1);
            }
        }
        .iconfont {
            position: absolute;
            left: 0;
            margin-top: 11px;
            font-size: 23px;
        }
        &.active, &:hover {
            &:before {
                opacity: 1;
            }
            &.nav-home:before  {
                background: #443fb5;
            }
            &.nav-code:before  {
                background: $code-color;
            }
            &.nav-daily:before  {
                background: #FF9800;
            }
            &.nav-demo:before  {
                background: $brand-inverse-color;
            }
            &.nav-me:before  {
                background: $brand-color;
            }
        }
    }
    .banner {
        height: 450px;
        margin-top: -45px;
    }
    .banner-background {
        background-size:auto 450px;
    }
    .main {
        width: 90%;
    }
    .avatar {
        margin-left: -17.5px;
        left: 50%;
        top: 5px;
        width: 35px;
        height: 35px;
    }
    .header {
        left: 0;
        width: 100%;
        height: 45px;
        background: rgba(255, 255, 255, .94);
        background-position: bottom left;
        box-shadow: 0 1px 3px rgba(0,0,0,.18);
        -webkit-transition:height 0s, background .15s linear .1s;
        transition:height 0s, background .15s linear .1s;

        &.top {
            height: 100px;
            background: url(../images/head_top_mask.png) top left repeat-x transparent;
            -webkit-transition:height 0s, background 0s;
            transition:height 0s, background 0s;
            box-shadow: none;
            .menu-item {
                color: #fff;
                text-shadow: 0 0 2px rgba(0, 0, 0, .64);
                &.active:before, &:hover:before {
                    background: #fff;
                    height: 1px;
                    bottom: 6px;
                }
            }
            .search-form {
                display: none;
            }
        }
    }
    .post-meta {
        font-size: 12px;
    }
    .post-title {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    
}
@media screen and (min-width: 1280px) { 
    .main {
        width: 1080px;
    }

}
@media screen and (min-width: 1366px) {
    .main {
        width: 1190px;
    }
}
@media screen and (min-width: 1440px) {
    .main {
        width: 1280px;
    }
}