.icon {
    background: url(../images/icons.png) top center no-repeat;
    &.icon-home {
        background-position: 0 2px;
    }
    &.icon-coding {
        background-position: 0 -46px;
    }
    &.icon-daily {
        background-position: 0 -97px;
    }
    &.icon-demo {
        background-position: 0 -150px;
    }
    &.icon-about {
        background-position: 0 -200px;
    }
}

.header {
    position: fixed;
    top: 0;
    width: 210px;
    height: 100%;
    background: #1c2237;
    font-size: 14px;
    box-shadow: 0 0 12px 2px #0f1321 inset;
    transition: width .5s linear;
    &.fold {
        width: 60px;
        .menu {
            li {
                span {
                    display: none;
                }
            }
            .icon {
                float: none;
                margin: 0 auto;
            }
        }
    }
}

.header-content a {
    color: #7685b6;
}

.menu {
    margin-top: 20px;
    li {
        overflow: hidden;
        line-height: 25px;
        padding: 10px 0;
        margin: 6px 0;
        list-style: none;
        &.active {
            a {
                color: #fff;
            }
        }
    }
    .icon {
        display: block;
        float: left;
        margin-left: 36px;
        margin-right: 16px;
        width: 25px;
        height: 25px;
    }
}

.side {
    position: fixed;
    width: 320px;
    height: 100%;
    left: 60px;
    top: 0;
    background: center #212943;
    background-size: cover;
}

.menu-categories {
    position: relative;
    padding-top: 20px;
    border-bottom: 1px solid #f3f3f3;
    a {
        position: relative;
        float: left;
        margin-right: 12px;
        padding: 0 20px 6px;
        font-size: 16px;
        line-height: 2;
        &:hover {
            color: #ff4d4d;
            &:after {
                opacity: 1;
                transform: translate(-50%) scaleX(1);
                -webkit-transform: translate(-50%) scaleX(1);
                -moz-transform: translate(-50%) scaleX(1);
                -o-transform: translate(-50%) scaleX(1);
                -ms-transform: translate(-50%) scaleX(1);
                transition: .2s ease-in-out;
                -webkit-transition: .2s ease-in-out;
                -moz-transition: .2s ease-in-out;
                -o-transition: .2s ease-in-out;
                -ms-transition: .2s ease-in-out;
            }
        }
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -1px;
            width: 100%;
            opacity: 0;
            border-bottom: 2px solid #ff4d4d;
            transform: translate(-50%) scaleX(0);
            -webkit-transform: translate(-50%) scaleX(0);
            -moz-transform: translate(-50%) scaleX(0);
            -o-transform: translate(-50%) scaleX(0);
            -ms-transform: translate(-50%) scaleX(0);
        }
        &.on {
            font-weight: 500;
            color: #ff4d4d;
            &:after {
                opacity: 1;
                transform: translate(-50%) scaleX(1);
                -webkit-transform: translate(-50%) scaleX(1);
                -moz-transform: translate(-50%) scaleX(1);
                -o-transform: translate(-50%) scaleX(1);
                -ms-transform: translate(-50%) scaleX(1);
            }
        }
    }
    .menu-bar {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 3px;
        background: #4d5aff;
    }
}

.main {
    &.main-right {
        margin: 0 0 0 450px;
        max-width: 960px;
    }
}

.post-list {
    li {
        list-style: none;
        position: relative;
        margin-top: 20px;
    }
    h2 {
        margin: 10px 0 0;
        font-size: 18px;
        line-height: 32px;
        font-weight: normal;
        a {
            color: $text-color;
        }
    }
    .post-icon-translate {
        margin-left: 12px;
        background-color: rgba(86, 192, 224, 0.25);
        color: #56C0E0;
        font-size: 12px;
        padding: 2px 6px;
        border-radius: 10px;
    }
}

.post-meta {
    font-size: 12px;
    color: #999;
}
.post-tag {
    margin-left: 12px;
    color: rgb(2, 78, 97);
}