<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="applte-mobile-web-app-status-bar-style" content="white">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>新标签页</title>
    <link rel="stylesheet" href="{{ "/css/doc.css" | prepend: full_base_url }}">
    
    <script src="/js/jquery.min.js"></script>
</head>

<body ontouchstart="">
  <!-- <header class="header" id="header">
  {% include header.html %}
  </header> -->
  <div class="container">
      <div class="main article">
          <div class="content">{{ content }}</div>
      </div>
  </div>

  <!-- {% include footer.html %} -->
</body>

</html>