--- 
layout: default
---
<div class="main article">
    <div class="article-header">

    </div>
    <h2 class="post-title">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% if page.translate %}
        <span class="post-icon-translate">译</span>
        {% endif %}
    </h2>
    <p class="post-meta">
        <time>{{ page.date | date: "%B %d, %Y" }}</time>
        {% for tag in page.tags %}
        <a href="javascript: void(0);" class="post-tag">#{{ tag }}</a>
        {% endfor %}
    </p>
    <div class="post-content">
        {{ page.content }}
    </div>
</div>
<script>
// (function(){
//     var toc = document.getElementById('markdown-toc');
//     if(!toc) return;
//     var sideMenu = document.getElementById('side-menu');
//     if(sideMenu) {
//         sideMenu.innerHTML = '<h3>目录</h3>' + toc.innerHTML;
//         toc.remove();
//     }
// })();
</script>